@use "mixins" as *;
@use "variables" as *;
@use "typography" as *;

.main-sidebar-1 {
   .single-sidebar-widget {
      padding: 25px 30px;
      border-radius: 10px;
      background: $bg-color-1;
      margin-bottom: 30px;

      @include breakpoint(max-xl) {
         padding: 15px;
      }

      &__wid-title {
         margin-bottom: 15px;
         &--title {
            color: $title-color;
            font-family: $title-font;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 34px;
            text-transform: capitalize;
         }
      }

      &__search-widget {
         form {
            width: 100%;
            position: relative;

            input {
               background-color: $white;
               font-size: 15px;
               padding: 20px;
               width: 100%;
               border: none;
               color: $text-color;
               border-radius: 8px;
               border: 1px solid#F7F4EF;
               background: $white;
            }

            button {
               position: absolute;
               right: 15px;
               top: 1px;
               width: 20px;
               font-size: 18px;
               height: 100%;
               color: $theme-color-3;
               text-align: center;
               transition: all 0.3s ease-in-out;

               &:hover {
                  color: $title-color;
               }
            }
         }
      }

      &__filter-price-widget-categories {
         // .range-slider {
         //   .form-range {
         //     -webkit-appearance: none;
         //     width: 100%;
         //     height: 8px;
         //     border-radius: 5px;
         //     outline: none;
         //     opacity: 0.7;
         //     transition: opacity 0.2s;

         //     &::-webkit-slider-thumb {
         //       -webkit-appearance: none;
         //       appearance: none;
         //       width: 16px;
         //       height: 16px;
         //       background: $theme-color-3;

         //       border-radius: 50%;
         //       cursor: pointer;
         //     }

         //     &::-moz-range-thumb {
         //       width: 16px;
         //       height: 16px;
         //       // background: #ff5f5f;
         //       border-radius: 50%;
         //       cursor: pointer;
         //     }

         //     &:hover {
         //       opacity: 1;
         //     }
         //   }
         // }

         .range-slider {
            // .form-range {
            //   -webkit-appearance: none;
            //   width: 100%;
            //   height: 8px;
            //   border-radius: 5px;
            //   outline: none;
            //   opacity: 0.7;
            //   transition: opacity 0.2s;

            //   background: linear-gradient(90deg, $theme-color-3 0%, $theme-color-4 100%);
            //   &::-webkit-slider-thumb {
            //     -webkit-appearance: none;
            //     appearance: none;
            //     width: 16px;
            //     height: 16px;
            //     background: $theme-color-3;
            //     border-radius: 50%;
            //     cursor: pointer;
            //     transition: transform 0.2s ease, background-color 0.3s;
            //   }

            //   &::-moz-range-thumb {
            //     width: 16px;
            //     height: 16px;
            //     border-radius: 50%;
            //     cursor: pointer;
            //   }

            //   &:hover {
            //     opacity: 1;

            //     &::-webkit-slider-thumb {
            //       transform: scale(1.2);
            //       background: $theme-color-4;
            //     }
            //   }
            // }
            .form-range {
               background: linear-gradient(90deg, #ff4035 50%, #e0e0e0 50%);
               height: 8px;
               border-radius: 5px;
               outline: none;
               -webkit-appearance: none; /* Necessary for Safari and Chrome */
               appearance: none;

               // For WebKit (Chrome, Safari, Edge)
               &::-webkit-slider-runnable-track {
                  background: inherit; /* Use the dynamically updated background */
                  height: 8px;
                  border-radius: 5px;
               }

               // For Firefox
               &::-moz-range-track {
                  background: inherit;
                  height: 8px;
                  border-radius: 5px;
               }

               // For Internet Explorer
               &::-ms-track {
                  background: inherit;
                  height: 8px;
                  border-radius: 5px;
               }
            }

            .range-values {
               display: flex;
               justify-content: space-between;
               margin-top: 10px;
               font-size: 16px;

               span {
                  padding: 5px 10px;
                  border-radius: 20px;
                  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                  transition: background-color 0.3s, color 0.3s;

                  &.active {
                     background-color: $theme-color-4;
                     color: #fff;
                  }
               }
            }
         }
      }

      &__shop-widget-categories {
         ul {
            li {
               @include flex;
               justify-content: space-between;
               padding: 8px 0px;

               a {
                  color: $border-color-5;
                  font-family: $title-font;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 16px;
                  text-transform: capitalize;
                  @include transition;

                  @include breakpoint(max-xl) {
                     font-size: 14px;
                  }
                  i {
                     margin-right: 12px;
                     @include breakpoint(max-xl) {
                        font-size: 12px;
                     }
                  }
               }

               &:not(:last-child) {
                  margin-bottom: 12px;
               }

               &:hover {
                  a {
                     color: $theme-color-3;
                  }
               }
            }
         }
      }

      &__widget-categories {
         margin-top: -8px;

         ul {
            li {
               padding: 5px 0px;

               a {
                  @include flex;
                  justify-content: space-between;
                  position: relative;
                  transition: all 0.3s ease-in-out;

                  .text {
                     color: $border-color-5;
                     font-family: $title-font;
                     font-size: 16px;
                     font-style: normal;
                     font-weight: 400;
                     line-height: 16px;
                     text-transform: capitalize;
                     @include breakpoint(max-xl) {
                        font-size: 14px;
                     }

                     svg {
                        width: 15px;
                        height: 15px;
                        margin-right: 10px;
                     }
                  }
               }
            }
         }
      }

      &__categories-list {
         .checkbox-single {
            position: relative;
            padding-left: 18px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 8px;

            input {
               position: absolute;
               opacity: 0;
               cursor: pointer;
               height: 0;
               width: 0;
            }

            &:not(:last-child) {
               margin-bottom: 10px;
            }

            .checkbox-area {
               display: flex;
               align-items: center;

               .checkmark {
                  position: absolute;
                  left: 0;
                  height: 16px;
                  width: 16px;
                  border-radius: 2px;
                  border: 1px solid $orange-color3;
                  top: 5px;

                  &::after {
                     content: "";
                  }
               }

               input:checked ~ .checkmark {
                  &::after {
                     content: "\f00c";
                     position: absolute;
                     font-family: $fa;
                     top: -10px;
                     left: 1px;
                     color: $theme-color;
                     font-size: 13px;
                  }

                  background-color: $orange-color3;
               }

               input:checked ~ .checkmark:after {
                  display: block;
                  color: $white;
               }
            }

            .star {
               margin-left: 8px;
               a {
                  i {
                     font-size: 18px;
                     color: $orange-color3;

                     @include breakpoint(max-xxl) {
                        font-size: 12px;
                     }
                  }
               }
            }

            .text-color {
               font-size: 16px;
               font-style: normal;
               font-weight: 400;
               line-height: 20px;
               color: #676666;
               display: inline-flex;
               align-items: center;
               justify-content: space-between;
            }
         }
      }
   }
}

.main-sidebar-2 {
   .single-sidebar-widget {
      &__wid-title {
         margin-top: 25px;

         &--title {
            color: $title-color;
            font-family: $title-font;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-transform: capitalize;
         }
      }

      &__search-widget {
         form {
            width: 100%;
            position: relative;

            input {
               background-color: $white;
               font-size: 15px;
               padding: 20px;
               width: 100%;
               border: none;
               color: $text-color;
               border-radius: 10px;
               border: 1px solid rgba(0, 0, 0, 0.2);

               &::before {
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  height: 2px;
                  width: 83px;
                  content: "";
                  background-color: $theme-color;
               }
            }

            button {
               position: absolute;
               right: 20px;
               top: 1px;
               width: 20px;
               font-size: 18px;
               height: 100%;
               color: $text-color3;
               text-align: center;
               transition: all 0.3s ease-in-out;

               &:hover {
                  color: $theme-color-3;
               }
            }
         }
      }

      &__recent-post-area {
         padding: 30px 24px;
         border-radius: 10px;
         margin-top: 30px;
         border: 1px solid rgba(0, 0, 0, 0.2);
         background: $white;

         &__recent-items {
            @include flex;
            gap: 20px;
            margin-top: 20px;

            &--recent-thumb {
               flex-shrink: 0;
               img {
                  width: 75px;
                  height: 75px;
                  object-fit: cover;
               }
            }

            &--recent-content {
               ul {
                  margin-bottom: 8px;

                  li {
                     color: $theme-color-3;
                     font-family: $title-font;
                     font-size: 16px;
                     font-style: normal;
                     font-weight: 400;
                     line-height: 26px;

                     i {
                        color: $theme-color-3;
                        margin-right: 5px;
                     }
                  }
               }

               h6 {
                  font-weight: 700;

                  a {
                     &:hover {
                        color: $theme-color;
                     }
                  }
               }
            }
         }
      }

      &__blog-widget-categories {
         padding: 30px 24px;
         border-radius: 10px;
         margin-top: 30px;
         border: 1px solid rgba(0, 0, 0, 0.2);
         background: $white;
         &--tagcloud {
            a {
               color: $title-color;
               font-family: $title-font;
               font-size: 16px;
               font-style: normal;
               font-weight: 400;
               line-height: 20px;
               text-transform: capitalize;
               display: inline-flex;
               padding: 13px 15px;
               justify-content: center;
               align-items: center;
               gap: 20px;
               display: inline-block;
               border-radius: 50px;
               background: #fafafa;
               margin-top: 10px;

               &:last-child {
                  margin-right: 0;
               }

               &:hover {
                  background-color: $theme-color;
                  color: $white;
               }
            }
         }
      }
      &__blog-thumb {
         margin-top: 30px;
         img {
            @include imgw;
         }
      }
   }
}
