@use "mixins" as *;
@use "variables" as *;
@use "typography" as *;

.cta-wrapper {
   &.style1 {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding: 42px 0 40px 0;
      position: relative;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;

      .cta-main-content {
         text-align: center;

         h2 {
            color: $white;
            font-family: $title-font;
            font-size: 50px;
            font-style: normal;
            font-weight: 700;
            line-height: 26px;
            text-transform: capitalize;
            padding-bottom: 20px;
            @include breakpoint(max-xl) {
               font-size: 40px;
            }

            @include breakpoint(max-sm) {
               font-size: 30px;
            }
         }

         p {
            font-family: $title-font;
            color: $white;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
            padding-bottom: 24px;
            @include breakpoint(max-lg) {
               br {
                  display: none;
               }
            }
         }
      }

      .shape-1 {
         position: absolute;
         top: 50%;
         left: 24px;
         transform: translateY(-50%);
         @include breakpoint(max-xl) {
            left: 0;
         }
         @include breakpoint(max-lg) {
            display: none;
         }
         .thumb {
            position: relative;

            img {
               border-radius: 12px;
               width: 100%;
            }

            .badge {
               position: absolute;
               left: 50%;
               transform: translateX(-50%);
               top: 20px;
               background-color: $theme-color-3;
               padding: 10px 12px;
               border-radius: 100px;
               font-size: 14px;
               font-style: normal;
               font-weight: 500;
            }

            @include breakpoint(max-xl) {
               display: none;
            }
         }
      }

      .shape-2 {
         position: absolute;
         bottom: 0;
         right: 53px;
         @include breakpoint(max-lg) {
            display: none;
         }
         .thumb {
            @include breakpoint(max-xxl) {
               width: 250px;
            }
         }
      }
   }
}

// .cta-wrapper-one {
//     position: relative;
//     border-radius: 10px;
//     -webkit-border-radius: 10px;
//     -moz-border-radius: 10px;
//     -ms-border-radius: 10px;
//     -o-border-radius: 10px;

//     h2 {
//         position: relative;
//         z-index: 4;
//         color: $white;
//         font-family: $title-font;
//         font-size: 48px;
//         font-style: normal;
//         font-weight: 600;
//         line-height: 50px;
//         letter-spacing: -1.44px;

//         @include breakpoint (max-md) {
//             font-size: 35px;
//             line-height: 1.2;
//         }
//     }

//     .cta-content {
//         padding: 40px 0 0 60px;

//         @include breakpoint (max-md) {
//             padding: 40px 0 0 20px;
//         }
//     }

//     .category-list {
//         position: relative;
//         z-index: 5;
//         display: flex;
//         align-items: center;
//         gap: 40px;
//         margin-top: 25px;

//         @include breakpoint (max-xxl) {
//             gap: 10px;
//             margin-top: 20px;
//             flex-wrap: wrap;
//         }

//         @include breakpoint (max-md) {
//             gap: 5px;
//             margin-top: 20px;
//             flex-wrap: wrap;
//         }
//         .item {
//             color: $white;
//             font-family: $body-font;
//             font-size: 14px;
//             font-style: normal;
//             font-weight: 500;
//             line-height: 16px;
//             text-transform: uppercase;
//             i {
//                 color: $white;
//                 font-size: 14px;
//                 font-style: normal;
//                 font-weight: 500;
//                 line-height: 16px;
//                 text-transform: uppercase;
//             }
//         }
//     }

//     .timer-wrapper {
//         padding: 60px 0;
//         position: relative;
//         z-index: 5;
//         display: flex;
//         align-items: center;
//         gap: 10px;
//         .timer-box {
//             display: flex;
//             flex-flow: column;
//             gap: 10px;
//             .number {
//                 width: 50px;
//                 height: 50px;
//                 display: flex;
//                 align-items: center;
//                 justify-content: center;
//                 background-color: $white;
//                 color: $theme-color-3;
//                 border-radius: 10px;
//                 color: $theme-color-3;
//                 text-align: center;
//                 font-family: $title-font;
//                 font-size: 22px;
//                 font-style: normal;
//                 font-weight: 700;
//                 line-height: 26px;
//             }
//             .text {
//                 color: $white;
//                 text-align: center;
//                 font-family: $body-font;
//                 font-size: 12px;
//                 font-style: normal;
//                 font-weight: 600;
//                 line-height: 1;
//             }
//         }

//         @include breakpoint (max-xl) {
//             padding: 60px;
//         }

//         @include breakpoint (max-md) {
//             padding: 20px;
//         }
//     }

//     .btn-wrapper {
//         margin-top: 30px;
//     }

//     .cta-thumb {
//         // position: absolute;
//         // margin-bottom: -60px;
//         position: relative;
//         z-index: 5;
//         top: 0;
//         // right: 175px;
//     }

//     &:before {
//      position: absolute;
//      content: '';
//      top: 0;
//      left: 0;
//      width: 100%;
//      height: 100%;
//      background: linear-gradient(90deg, #FF4035 0%, rgba(255, 64, 53, 0.60) 100%);
//      z-index: 1;
//      border-radius: 10px;
//      -webkit-border-radius: 10px;
//      -moz-border-radius: 10px;
//      -ms-border-radius: 10px;
//      -o-border-radius: 10px;
// }
// }

.cta-bg-wrapper {
   position: relative;

   &::before {
      @include before;
      background: linear-gradient(
         90deg,
         rgba(255, 255, 255, 0.2) 0%,
         #fff 100%
      );
   }
}

.cta-wrapper-two {
   h2 {
      color: #000;
      font-family: $title-font;
      font-size: 48px;
      font-style: normal;
      font-weight: 600;
      line-height: 50px;
      letter-spacing: -1.44px;
      margin-bottom: 20px;
   }

   p {
      color: var(--p, #555);
      font-family: $title-font;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      text-transform: capitalize;
   }

   .btn-wrapper {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-top: 50px;
   }
}

.cta-content-four {
   &__subtitle {
      color: $title-color;
      font-family: $title-font;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      text-transform: uppercase;
      margin-bottom: 20px;
   }

   h2 {
      color: $title-color;
      font-family: $title-font;
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: 26px;
      margin-bottom: 20px;
   }

   p {
      color: $border-color-5;
      font-family: $body-font;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      max-width: 476px;
      margin-bottom: 30px;
   }

   &.style-12 {
      position: relative;

      @include breakpoint(max-xl) {
         text-align: center;
         padding: 0 40px;
         margin: 0 auto;
      }
      .subtitle {
         color: $title-color;
         font-family: $title-font;
         font-size: 16px;
         font-style: normal;
         font-weight: 400;
         line-height: 26px;
         text-transform: uppercase;
         margin-bottom: 20px;
      }

      p {
         @include breakpoint(max-xl) {
            margin: 30px auto 30px;
         }
      }

      h2 {
         font-size: 56px;
         font-weight: 700;

         span {
            color: $theme-color-8;
         }
      }
   }
}

.cta-collection-wrapper {
   h2 {
      font-size: 30px;
      font-weight: 500;
      text-align: center;
      line-height: 1;
   }

   .cta-collection-image {
      margin-top: 30px;
      height: 401px;
      position: relative;

      &::before {
         @include before;
         background: linear-gradient(
            180deg,
            #fff 0%,
            rgba(255, 255, 255, 0) 100%
         );
      }

      .content {
         padding: 40px;
         position: relative;
         z-index: 9;

         h3 {
            font-size: 30px;
            font-weight: 400;
            line-height: 140%;
            margin-bottom: 20px;
         }

         h4 {
            font-size: 24px;
            font-weight: 400;
            line-height: 138%;
            margin-bottom: 20px;
         }

         p {
            max-width: 210px;
            color: #0a111e;
         }
      }

      .theme-btn {
         background-color: $theme-color-7;
         position: absolute;
         bottom: 40px;
         left: 40px;
      }

      .icon {
         width: 50px;
         height: 50px;
         position: absolute;
         bottom: 40px;
         left: 40px;
         display: inline-block;
         line-height: 50px;
         text-align: center;
         border-radius: 50%;
         background-color: $white;
         @include transition;
         color: $theme-color-7;

         &:hover {
            background-color: $theme-color-7;
            color: $white;
         }
      }
   }
}

.banner-shop-7 {
   background-color: #57c4e3;
   padding: 60px 40px;
   border-radius: 15px;
   position: relative;
   height: 300px;

   .dog-image {
      position: absolute;
      bottom: 0;
      right: 0;
   }

   h3 {
      font-size: 24px;
      color: $white;
      font-weight: 700;
      position: relative;
      z-index: 9;
   }

   p {
      color: $white;
      margin-top: 5px;
      position: relative;
      z-index: 9;
   }

   .box {
      display: inline-block;
      margin-top: 20px;
      position: relative;
      z-index: 9;

      .number {
         background: $white;
         color: $theme-color-9 !important;
         line-height: 15px !important;
      }

      .text {
         color: $white !important;
      }
   }

   &.bg-2 {
      background-color: #f8b948;

      h3 {
         font-size: 24px;
      }

      .link-btn {
         display: inline-block;
         font-size: 16px;
         font-weight: 700;
         text-decoration: underline;
         color: $white;
         font-family: "Albert Sans";
         margin-top: 15px;
      }
   }

   &.bg-3 {
      background-color: #00c9d5;
   }
}

.cta-card-items {
   .cta-image {
      position: relative;
      height: 360px;

      &::before {
         @include before;
         background: linear-gradient(
            180deg,
            #fff 0%,
            rgba(255, 255, 255, 0) 100%
         );
      }

      .cta-content {
         padding: 80px 50px;
         position: relative;
         z-index: 9;

         @include breakpoint(max-md) {
            padding: 50px 30px;
         }

         .subtitle {
            color: $title-color;
            font-family: $title-font;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
            text-transform: uppercase;
            margin-bottom: 20px;
         }

         h2 {
            color: $title-color;
            font-family: $title-font;
            font-size: 36px;
            font-style: normal;
            font-weight: 600;
            line-height: 26px;
            margin-bottom: 20px;
         }

         .starting {
            @include flex;
            gap: 20px;
            margin-bottom: 24px;

            span {
               font-family: 14px;
               font-weight: 400;
               color: $text-color3;
            }

            .post {
               padding: 8px;
               line-height: 1;
               color: $white;
               background-color: $theme-color-8;
               font-weight: 500;
            }
         }

         .timer-box {
            margin-bottom: 24px;
            gap: 0;
            justify-content: flex-start;

            .box {
               border: none;
               padding: 10px;
               background: transparent;
               min-width: 0px;

               .number {
                  border-bottom: none;
                  padding: 0;
                  font-size: 20px;
                  font-weight: 400;
                  margin-bottom: 0;
                  color: $title-color;
               }
            }
         }
      }
   }
}

.vedio-area {
   padding: 250px 0;
   background-attachment: fixed;
   position: relative;

   @include breakpoint(max-sm) {
      padding: 200px 0;
   }
}

.video-box-2 {
   .play-btn {
      width: 70px;
      height: 70px;
      line-height: 70px;
      border-radius: 100px;
      text-align: center;
      background-color: $white;
      color: $theme-color-9;
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 20px;
      transform: translate(-50%, -50%);
   }
}

.cta-wrapper-4 {
   @include flex;
   justify-content: space-between;
   background-color: $theme-color-9;
   border-radius: 30px;
   padding: 70px 100px;

   @include breakpoint(max-xl) {
      flex-wrap: wrap;
      gap: 30px;
      padding: 50px 40px;
   }

   .cta-items2 {
      @include flex;
      gap: 15px;

      .content {
         h4 {
            color: $white;
         }

         p {
            color: $white;
         }
      }
   }
}

.cta-section-3 {
   .container-fluid {
      padding: 0 60px;

      @include breakpoint(max-xxxl) {
         padding: 0 50px;
      }

      @include breakpoint(max-xxl) {
         padding: 0 40px;
      }

      @include breakpoint(max-xl) {
         padding: 0 30px;
      }
   }
}

.food-collection-section {
   .array-button {
      @include flex;
      justify-content: flex-end;
      gap: 15px;

      .array-prev,
      .array-next {
         width: 56px;
         height: 56px;
         line-height: 56px;
         text-align: center;
         border-radius: 50%;
         @include transition;
      }

      .array-prev {
         border: 1px solid $theme-color-9;
         color: $theme-color-9;

         &:hover {
            background-color: $theme-color-9;
            color: $white;
         }
      }

      .array-next {
         border: 1px solid $theme-color-9;
         color: $white;
         background-color: $theme-color-9;

         &:hover {
            background-color: $title-color;
            border: 1px solid $title-color;
         }
      }
   }
}
