@use "variables" as *;
@use "typography" as *;

.order-tracking-form {
   p {
      color: $title-color;
      font-family: $body-font;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
   }

   form {
      margin-top: 0px;
      button {
         margin-top: 15px;
      }
   }
}
